body {
    background-image: url("astronomy.jpg");
    background-size: cover;
}
h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.containerleft {
    width: 400px;
    float: left;
    margin-left: 22%;
}
.containerright {
    width: 400px;
    background-color: white;
    float: left;
    font-family: 'Orbitron', sans-serif;
    
}
#randomNumber {
    text-align: center;
    padding: 40px;
    font-size: 35px;
}
#wins {
    text-align: center;
    padding-bottom: 10px;
    
}

#losses {
    text-align: center;
}


#rules {
    text-align: center;
    padding: 15px 30px 30px 30px;
    line-height: 30px;
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-style: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.firstcrystal {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 8%;
}

.secondcrystal {
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 8%;
}


.thirdcrystal {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 8%;
}

.fourthcrystal {
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 8%;
}
#yourscore {
    text-align: center;
    clear: both;
    padding-top: 15px;
}
#scoretext {
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

@media (max-width: 640px) {
    h1 {
        font-family: 'Fascinate Inline', cursive;
        font-size: 50px;
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .containerleft {
        width: 400px;
        float: left;
        margin: 0 auto;
        margin-top: 20px;
    }
    .containerright {
        width: 400px;
        background-color: white;
        clear: both;
        font-family: 'Orbitron', sans-serif;
        
    }

}